.content{
	article{
		width: 50%;
		float: left;
		margin-bottom: 10px;
		&:last-of-type{
			padding-left: 77px;
			box-sizing: border-box;
		}
		h2{margin: 42px 0 0 10px;}
		p{line-height: 22px;}
	}
	h2{
		color: @grey;
		font-size: 31px;
		font-weight: 100;
	}
	figure{
		color: @grey;
		text-align: justify;
		margin: 16px 0 0 0;
	}
	p{font-size: 14px;}
	img.circle{
	    float: left;
	    shape-outside: circle();
	    padding-right: 20px;
	    margin: 6px 0 0 0px;
	}
	&-newspaper{
		clear: both;
		a{
			color: @orange;
			&:hover{text-decoration: none;}
		}
		&-list{
			clear: both;
			column-count: 3;
			column-gap: 30px;
			padding: 10px;
			margin-bottom: 60px;
			line-height: 22px;
			p{margin-bottom: 15px;}
			li{
				color: lighten(@grey, 30%);
				font-size: 14px;
				line-height: 23px;
				margin-bottom: 5px;
				span{color: @grey;}
			}
			&__orange{
				color: @orange;
				padding-left: 15px;
				border-left: 3px solid @orange;
				line-height: 14px;
			}
		}
		h2{margin: 0 0 0 6px;}
	}
	.more{
		position: relative;
		display: block;
		float: right;
		margin-top: 25px;
		font-style: 14px;
		&:before{
			._before;
			top: 5px;
			left: -10px;
		   width: 0;
		   height: 0;
		   border: 5px solid transparent;
		   border-left: 6px solid @orange;
		}
	}
}
blockquote{
	margin: 53px 13px 0;
	position: relative;
	color: lighten(@grey, 40%);
	font-style: italic;
	font-size: 14px;
	line-height: 16px;
	&:before,
	&:after{
		display: block;
		position: absolute;
		font-size: 72px;
		color: lighten(@grey, 60%);
	}
	&:before{
		content: "\201C";
		top: 15px;
    	left: -35px;
	}
	&:after{
		content: '\201D';
	    right: -4px;
	    bottom: -25px;
	}
}