.footer{
	&-row{
		border-top: 1px solid lighten(@grey, 40%);
   	padding-top: 10px;
   	p{
			text-align: right;
			font-size: 20px;
			color: @grey;
			span{
				color: lighten(@grey, 40%);
				padding: 0 5px;
			}
		}
	}
	&-copyright{
		font-size: 31px;
		color: lighten(@grey, 40%);
		text-align: right;
	}
	img{float: left;}
}