.register{
	padding: 20px 0 18px;
	background: @orange;
	overflow: hidden;
	&-form{
		position: relative;
		box-shadow: 0 0 0 0 #ffbd0e, 0 0 0 0 #ffbd0e, 55px 0 80px -20px #ffbd0e, -55px 0 80px -20px #ffbd0e;
	}
	&-shadow{
		position: relative;
		height: 466px;
		&:before,
		&:after{
			._before;
			top: 80%;
			width: 50%;
			background: fade(@black, 50%);
			box-shadow: 0 15px 10px fade(@black, 50%);
			bottom: 15px;
		}
		&:before{
			left: 10px;
			transform: rotate( -3deg);
		}
		&:after{
			right: 10px;
			transform: rotate( 3deg);
		}
	}
}
.form{
	width: 50%;
	border-left: 1px solid lighten(@grey, 40%);
	box-sizing: border-box;
	padding: 0 10px 0 20px;
	background: @white;
	border-radius: 0 3px 3px 0;
	height: 466px;
	position: relative;
	float: left;
	z-index: 1;
	&:before{
		._before;
		width: 100%;
		top: 0;
		left: 0;
		height: 70px;
		background: linear-gradient(@white, transparent);
	}
	span{color: @text-color;}
	&-row{
		clear: both;
    	margin: 8px 0;
    	position: relative;
    	&-name{
		   font: 18px/41px 'source sans prolight';
		   display: block;
		   width: 100px;
		   float: left;
    	}
    	&-buttons{float: left;}
    	&-group{
    		margin-left: 100px;
    		overflow: hidden;
    		&-buttons{
				float: left;	
				width: 173px;
    		}
    	}
   }
	&-title{
		color: @orange;
		font-size: 44px;
		font-weight: 100; 
    	margin: 16px 0 17px;
	}
	&-look{
		position: relative;
	   margin-left: 33px;
	   width: 87px;
	   float: left;
	   font-size: 18px;
	   display: block;
	   line-height: 41px;
	   &:before{
	   	._before;
	   	.icon-search;
	   	top: 13px;
    		left: -23px;
	   }
	}
	&-textfield{
		width: 320px;
		float: left;
		border: 1px solid red;
		padding-left: 20px;
		box-sizing: border-box;
		._form-element-style;
		._grey-gradient;
		color: @grey;
		font-family: 'source sans prolight';
		font-size: 18px;
	}
	&-pseudo-wrap{float: left;}
	&-pseudo{
		position: relative;
		display: inline-block;
		._grey-gradient;
		._form-element-style;
		&:before{
			._before;
			.icon-select-arrow;
			right: -1px;
			top: 0;
		}
		&-number{width:83px;}
		&-month{width: 120px; margin: 0 2px;}
		&-year{width: 106px;}
		&-city{width: 320px;} 
		&__select{
			position: absolute;
			width: 100%;
		   top: 0;
		   left: 0;
		   height: 36px;
		   font-size: 18px;
		   padding-left: 20px;
		   background-color: transparent;
		   border: 0;
		   appearance: none;
		   color: @grey;
		   &::-ms-expand {display: none;}
		   &:last-of-type{padding-left: 10px;}
		}
	}
	&-submit{
		border: 1px solid @green;
		border-radius: 50px;
		margin: 5px 0 30px 100px;
	    text-align: center;
	    font-size: 48px;
	    span{
			color: @white;
			text-shadow: 1px 1px 1px @grey;
			border: 1px solid lighten(@green, 50%);
			padding: 3px 61px;
			display: block;
			border-radius: inherit;
			._submit-bg;
	    }
	}
}
.required{float: left;}
.valid{
	position: relative;
	&:before{
		._before;
		top: 10px;
		left: 10px;
		.icon-true;
	}
}
.invalid{
	position: relative;
	&:before{
		._before;
		top: 10px;
		left: 10px;
		.icon-false;
	}
}
.tooltip{
	padding: 30px 23px 27px 35px;
	background: fade(@black, 80%);
	border-radius: 5px;
	position: absolute;
   top: -19px;
   right: -213px;
	&:before{
		._before;
		top: 50%;
    	left: -20px;
    	border: 10px solid transparent;
    	border-right: 10px solid fade(@black, 70%);
    	transform: translateY(-50%);
	}
	p{
		font: 16px 'Trebuchet MS';
		color: @white;
		text-align: center;
	}
}
input[type="radio"],
input[type="checkbox"]{	display: none;}
label.for-gender{
	display: block;
	float: left;
	position: relative;
	._button_bg;
	width: 49px;
	height: 36px;
	border: 1px solid fade(@orange, 50%);
	&:hover{cursor: pointer;}
	&:before{
		._before;
	   top: 3px;
	}
}
label.woman{
	border-radius: 20px 0 0 20px;
	border-right: none;
	&:before{
    	left: 20px;
		.icon-woman;
	}
}
input.gender:checked + label.woman:before{.icon-woman-ch;}
label.man{
	border-radius: 0 20px 20px 0;
	border-left: 0;
	&:before{
		left: 15px;
		.icon-man;
	}
}
input.gender:checked + label.man:before{.icon-man-ch;}
input.gender:checked + label.for-gender{
	._button-gender-checked-bg;
	box-shadow: inset 0 1px 1px #4e4e4e;
	&:hover{cursor: default;}
}
label.for-buttons{
	display: block;
	position: relative;
	width: 12px;
	height: 12px;
	margin: 6px 0 15px;	
	._buttons-border;
	._grey-gradient;
	&-rounder{
		border-radius: 50px;
		&:before{border-radius: 50px;}
	}
	&:hover:before{
		transition: opacity .2s ease-in;
		cursor: pointer;
		opacity: .4;
	}
	&:before{
		._before;
		width: 10px;
		height: 10px;
		top: 1px;
		left: 1px;
		._button_ch_bg;
		opacity: 0;
		transition: opacity .2s ease-in;
	}
	span{
		float: left;
	   width: 100px;
	   margin-left: 24px;
	   display: block;
	   line-height: 11px;
	   font-size: 18px;
	}
}
input.buttons:checked + label.for-buttons:before{opacity: 1;}
input.buttons:checked + label.for-buttons:hover:before{cursor: default;}

