@import 'normalize';
@import (less) 'sprite.css';
@import 'variables';
@import 'mixin';
@import 'header';
@import 'slider';
@import 'form';
@import 'content';
@import 'tabs';
@import 'footer';
*{
	padding: 0;
	margin: 0;
}
ul li,
ol li{
	list-style-position: inside;
}
body{
	background: @white;
	font-family: 'source sans prolight';
}
select, input, button{
	border: 0;
	&:focus{
		outline: none;
	}
}
.inner{
   position: relative;
   width: 960px;
   margin: 0 auto;
   &:before,
	&:after{
		content: '';
		display: block;
		clear: both;
	}
}

