@font-face {
   font-family: 'source sans prolight';
   src: url('@{path-fonts}/sourcesanspro-light-webfont.eot');
   src: url('@{path-fonts}/sourcesanspro-light-webfont.eot?#iefix') format('embedded-opentype'),
        url('@{path-fonts}/sourcesanspro-light-webfont.woff2') format('woff2'),
        url('@{path-fonts}/sourcesanspro-light-webfont.woff') format('woff'),
        url('@{path-fonts}/sourcesanspro-light-webfont.ttf') format('truetype'),
        url('@{path-fonts}/sourcesanspro-light-webfont.svg#source_sans_prolight') format('svg');
   font-weight: normal;
   font-style: normal;
}
._clearfix {   
	zoom: 1;
	&:before,
	&:after { 
	   content: "";
	   display: table;
	} 
	&:after {
	   clear:both;
	}
}
._before{
	content: '';
	display: block;
	position: absolute;
}
._form-element-style{
	height: 36px;
	box-shadow: inset 0 1px 1px @grey;
	border-radius: 50px;
	border: 1px solid #d8d8d8;
	overflow: hidden;
	box-sizing: border-box;
}
._grey-gradient{
	background: #dfe0e0;
	background: -moz-linear-gradient(top,  #dfe0e0 0%, #e8e8e8 3%, #f4f9fa 100%);
	background: -webkit-linear-gradient(top,  #dfe0e0 0%,#e8e8e8 3%,#f4f9fa 100%);
	background: linear-gradient(to bottom,  #dfe0e0 0%,#e8e8e8 3%,#f4f9fa 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfe0e0', endColorstr='#f4f9fa',GradientType=0 );
}
._button_bg{
	background: #f3fafb;
	background: -moz-linear-gradient(top,  #f3fafb 0%, #e6e8e8 100%);
	background: -webkit-linear-gradient(top,  #f3fafb 0%,#e6e8e8 100%);
	background: linear-gradient(to bottom,  #f3fafb 0%,#e6e8e8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3fafb', endColorstr='#e6e8e8',GradientType=0 );
}
._button-gender-checked-bg{
	background: #f87900;
	background: -moz-linear-gradient(top,  #f87900 0%, #ff8400 3%, #ff8e00 10%, #ffaf00 100%);
	background: -webkit-linear-gradient(top,  #f87900 0%,#ff8400 3%,#ff8e00 10%,#ffaf00 100%);
	background: linear-gradient(to bottom,  #f87900 0%,#ff8400 3%,#ff8e00 10%,#ffaf00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f87900', endColorstr='#ffaf00',GradientType=0 );
}
._button_ch_bg{
	background: #ffba2e;
	background: -moz-linear-gradient(top,  #ffba2e 0%, #ffaa05 9%, #ff8d1c 91%, #c66c17 100%);
	background: -webkit-linear-gradient(top,  #ffba2e 0%,#ffaa05 9%,#ff8d1c 91%,#c66c17 100%);
	background: linear-gradient(to bottom,  #ffba2e 0%,#ffaa05 9%,#ff8d1c 91%,#c66c17 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffba2e', endColorstr='#c66c17',GradientType=0 );
}
._buttons-border{
	border-top: 1px solid #d8d8d8;
	border-right: 1px solid #a2a2a2;
	border-bottom: 1px solid #909090;
	border-left: 1px solid #cdcdcd;
}
._submit-bg{
	background: #b5cc3f;
	background: -moz-linear-gradient(top,  #b5cc3f 0%, #abc834 5%, #a7c731 8%, #8fb92b 48%, #72aa00 49%, #77ae01 62%, #8dc011 88%, #94c516 100%);
	background: -webkit-linear-gradient(top,  #b5cc3f 0%,#abc834 5%,#a7c731 8%,#8fb92b 48%,#72aa00 49%,#77ae01 62%,#8dc011 88%,#94c516 100%);
	background: linear-gradient(to bottom,  #b5cc3f 0%,#abc834 5%,#a7c731 8%,#8fb92b 48%,#72aa00 49%,#77ae01 62%,#8dc011 88%,#94c516 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5cc3f', endColorstr='#94c516',GradientType=0 );
}