.slider{
	box-sizing: border-box;
	float: left;
	height: 466px;
	border-radius: 3px 0 0 3px;
	overflow: hidden;
	position: relative;
	z-index: 1;
	&-nav{
		position: absolute;
		bottom: 27px;
		z-index: 999999;
		left: 50%;
		transform: translateX(-50%);
		.nav{
			width: 11px;
		   height: 11px;
		   margin: 0 4px;
		   box-shadow: 0 0 5px @white;
    	   border-radius: 50%;
    		overflow: hidden;
    		background: fade(@black, 40%);
    		display: block;
    		float: left;
    		&:first-of-type{margin-left: 0;}
    		&:last-of-type{margin-right: 0;}
    		&.active{
    			position: relative;
    			&:before{
    				._before;
    				._button_ch_bg;
    				width: 9px;
    				height: 9px;
    				top: 1px;
    				left: 1px;
    				border-radius: 50%;
    			}
    		}
		}
	}
}