/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-add-hover {
  background-image: url(../images/sprite.png);
  background-position: -148px 0px;
  width: 17px;
  height: 19px;
}
.icon-add {
  background-image: url(../images/sprite.png);
  background-position: -148px -39px;
  width: 16px;
  height: 19px;
}
.icon-carousel-btn-left {
  background-image: url(../images/sprite.png);
  background-position: 0px -105px;
  width: 22px;
  height: 20px;
}
.icon-carousel-btn {
  background-image: url(../images/sprite.png);
  background-position: -42px -105px;
  width: 22px;
  height: 19px;
}
.icon-false {
  background-image: url(../images/sprite.png);
  background-position: -37px -145px;
  width: 16px;
  height: 17px;
}
.icon-handle {
  background-image: url(../images/sprite.png);
  background-position: -112px -49px;
  width: 14px;
  height: 26px;
}
.icon-man-ch {
  background-image: url(../images/sprite.png);
  background-position: -72px -56px;
  width: 16px;
  height: 29px;
}
.icon-man {
  background-image: url(../images/sprite.png);
  background-position: -112px 0px;
  width: 16px;
  height: 29px;
}
.icon-search {
  background-image: url(../images/sprite.png);
  background-position: -73px -145px;
  width: 15px;
  height: 15px;
}
.icon-select-arrow {
  background-image: url(../images/sprite.png);
  background-position: 0px 0px;
  width: 37px;
  height: 36px;
}
.icon-smile-hover {
  background-image: url(../images/sprite.png);
  background-position: 0px -145px;
  width: 17px;
  height: 17px;
}
.icon-smile {
  background-image: url(../images/sprite.png);
  background-position: -148px -78px;
  width: 17px;
  height: 17px;
}
.icon-tabs-corner {
  background-image: url(../images/sprite.png);
  background-position: -57px 0px;
  width: 35px;
  height: 31px;
}
.icon-true {
  background-image: url(../images/sprite.png);
  background-position: -84px -105px;
  width: 21px;
  height: 19px;
}
.icon-woman-ch {
  background-image: url(../images/sprite.png);
  background-position: -36px -56px;
  width: 16px;
  height: 29px;
}
.icon-woman {
  background-image: url(../images/sprite.png);
  background-position: 0px -56px;
  width: 16px;
  height: 29px;
}
