.tabs{
	&-link{
		background: @white;
		color: @grey;
		display: block;
		float: left;
		padding: 0 20px;
    	height: 30px;
    	line-height: 29px;
    	text-align: center;
		cursor: pointer;
		border-radius: 12px 12px 0 0;
		border: 1px solid #eee;
		position: relative;
		top: 1px;
		box-sizing: border-box;
		&.current{
			color: @orange;
			cursor: default;
			border-bottom: 0;
			span{color: @grey;}
			&:before{
				._before;
				right: -25px;
				top: -1px;
				.icon-tabs-corner;
				z-index: 111;
			}
		}
	}
	&-content{
		display: none;
		clear: both;
		border: 1px solid #eee;
		padding: 20px 15px 15px 20px;
		border-radius: 0 5px 5px;
		box-shadow: 1px 1px 1px rgba(78,78,78,.3);
		width: 390px;
		box-sizing: border-box;
		&.current{
			display: block;
			background: fade(@white, 20%);
			overflow: hidden;
		}
	}
}
.widget{
	&-left{
		width: 215px;
		float: left;
	}
	&-right{
		float: right;
	}
}
.progress{
	height: 16px;
	width: 100%;
	._buttons-border;
	._button_bg;
	border-radius: 3px;
	padding: 1px;
	box-sizing: border-box;
	position: relative;
	&-text{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 9px;
		text-shadow: 1px 0px 1px @white;
		text-align: center;
	}
	&-bar{
		display: block;
		height: 12px;
		line-height: 12px;
		._button_ch_bg;
		border-radius: 3px;
	}
}
.step{
	margin: 25px 0;
	list-style-type: none;
	overflow: hidden;
	._buttons-border;
	border-radius: 3px 5px 5px 3px;
	&-item{
		display: block;
		float: left;
		width: 20%;
		&-link{
			text-decoration: none;
			text-align: center;
			font-size: 9px;
			font-family: 'Verdana';
			display: block;
			height: 28px;
			line-height: 28px;
			color: @grey;
			text-shadow: 1px 0 1px @white;
			padding: 0 5px 0 10px;
			letter-spacing: -1px;
			position: relative;
			box-sizing: border-box;
			&:before{
				._before;
			   width: 30px;
    			height: 30px;
    			top: 0px;
    			left: 18px;
    			background: inherit;
    			transform: rotate(57deg) skew(25deg);
    			z-index: -1;
    			box-shadow: 1px -1px 0.5px lighten(@grey, 20%);
			}
			&.prev{
				background: #c0c1c1;
				border-radius: 3px 0 0 3px;
			}
			&.current{
				background: @orange;
			}
			&.next{
				background: #f3fafb;
			}
		}
	}
}
.clip{
	font-size: 90px;
	float: right;
	&:before,
	&:after{box-sizing: border-box;}
	div{box-sizing: border-box;}
	&-wrapper {
		height: 90px;
		width: 90px;
		float: left;
		margin: -5px 0 0 45px;
		position: relative;
	}
	&-label {
		background: @white;
		border-radius: 50%;
		color: @grey;
		display: block;
		font-size: 21px;
		line-height: 60px;
		position: absolute;
		text-align: center;
		top: 0.7em;
		bottom: 0.7em;
		left: 0.7em;
		right: 0.7em;
	}
	&-circle {
		height: 100%;
		width: 100%;
		clip: rect(0, 1em, 1em, 0.5em);
		left: 0;
		position: absolute;
		top: 0;
		&-half{
			height: 100%;
			width: 100%;
			border: 16px solid @orange;
			border-color: @orange;
			border-radius: 50%;
			clip: rect(0, 0.5em, 1em, 0);
			position: absolute;
			top: 0;
			left: 0;
			&.right-side {display: none;}
			&.left-side {transform: rotate(130deg);}
		}
	}
	&-shadow {
	   height: 100%;
	   width: 100%;
	   border: 16px solid #e7e8e8;
	   border-radius: 50%;
	}
}
.star{
	width: 80px;
	margin-top: 15px;
	clear: both;
	position: relative;
	float: right;
	&-bar{
		background: url('../images/star-bar.png') repeat-x;
		width: 80px;
		height: 15px;
	}
	&-progress{
		background: url('../images/active-star-bar.png') repeat-x;
		height: 15px;
		position: absolute;
		top: 0;
	}
}
.carousel{
	margin: 18px 0 21px 0px;
	position: relative;
  	width: 398px;
  	&-gallery{
  		width: 390px;
  		overflow: hidden;
  	}
	ul{
	   width: 9999px;
	   margin: 0;
	   padding: 0;
	   list-style: none;
	   transition: margin-left 250ms;
	}
	li{
		display: block;
		float: left;
	}
	&-arrow {
	  position: absolute;
	  top: 23px;
	  line-height: 24px;
	  display: block;
	  background: none;
	  &.prev {
		  left: -30px;
		  .icon-carousel-btn-left;
		}
		&.next {
		  right: -30px;
		  .icon-carousel-btn;
		}
	}
	&-item{
		display: block;
		position: relative;
		text-align: center;
		margin: 0 5px;
		&:hover{
			cursor: default;
			.carousel-item-overlay{
				background: fade(@black, 40%);
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				top: 0;
				visibility: visible;
				opacity: 1;
				transition: opacity .2s ease-in .3s, visibility .2s ease-in .3s;
			}
			.carousel-item__text{
				top: 10px;
				opacity: 1;
				transition: top .2s ease-in .2s, opacity .2s ease .1s;;
			}
			.carousel-item__smile{
				left: 10px;
				opacity: 1;
				transition: left .2s ease .1s, opacity .2s ease .1s;
			}
			.carousel-item__add{
				right: 10px;
				opacity: 1;
				transition: right .2s ease .1s, opacity .2s ease .1s;
			}
		}
		span{
			display: block;
			position: absolute;
			&:hover{cursor: pointer;}
		}
		&-overlay{
			left: 100%;
			right: 100%;
			bottom: 100%;
			top: 100%;
			visibility: hidden;
			opacity: 0;
		}
		&__text{
			color: @white;
			text-align: center;
			left: 0;
			right: 0;
			top: -10px;
			opacity: 0;
			transition: top .2s ease .2s, opacity .2s ease .1s;;
			font-size: 16px;
		}
		&__smile{
			.icon-smile;
			top: 40px;
			left: -10px;
			opacity: 0;
			transition: left .2s ease .1s, opacity .2s ease .1s;
			&:hover{.icon-smile-hover;}
		}
		&__add{
			.icon-add;
			top: 40px;
			right: -10px;
			opacity: 0;
			transition: right .2s ease .1s, opacity .2s ease .1s;
			&:hover{
				.icon-add-hover;
				background-position-x: 	-147px;
			}
		}
	}
	img{
		width: 70px;
		height: 70px;
		display: block;
	}
}
.ui-widget-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.ui-slider {
	position: relative;
	text-align: left;
}
.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	cursor: pointer;
	-ms-touch-action: none;
	touch-action: none;
}
.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	display: block;
}
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
	filter: inherit;
}
.ui-slider-horizontal {
	height: 16px;
}
.ui-slider-horizontal .ui-slider-handle {
	top: -.3em;
	margin-left: -.6em;
}
.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 12px;
	margin-top: 1px;
}
.ui-slider-horizontal .ui-slider-range-min {
	left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}
.ui-slider-vertical {
	width: .8em;
	height: 100px;
}
.ui-slider-vertical .ui-slider-handle {
	left: -.3em;
	margin-left: 0;
	margin-bottom: -.6em;
}
.ui-slider-vertical .ui-slider-range {
	left: 0;
	width: 100%;
}
.ui-slider-vertical .ui-slider-range-min {
	bottom: 0;
}
.ui-slider-vertical .ui-slider-range-max {
	top: 0;
}
.ui-widget-content {
	._buttons-border;
	._button_bg;
	border-radius: 3px;
	box-sizing: border-box;
}
.ui-widget-header {
	._button_ch_bg;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
.ui-button.ui-state-disabled:hover,
.ui-button.ui-state-disabled:active {
	.icon-handle;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
	.icon-handle;
	outline: none;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
		.icon-handle;
}
